---
import { navigationItems, type NavigationItem } from "../config/navigation";

interface Props {
  items?: NavigationItem[];
  showIcons?: boolean;
  itemClass?: string;
  listClass?: string;
}

const { items = navigationItems, showIcons = false, itemClass = "", listClass = "" } = Astro.props;
---

<ul class={listClass}>
  {
    items.map((item) => (
      <li>
        <a href={item.href} class={itemClass}>
          {showIcons && item.icon && (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={item.icon} />
            </svg>
          )}
          {item.label}
        </a>
      </li>
    ))
  }
</ul>
